<div ng-controller="MyController" layout="column" style="padding-bottom: 15px;">
  <md-toolbar class="md-warn">
    <div class="md-toolbar-tools">
      <div layout="row" flex class="fill-height">
        <span>Agboola Olaide</span>
        <div class="md-toolbar-item md-tools docs-tools" layout="column" layout-gt-md="row">
          <span class="md-button">ABOUT</span>
        </div>
      </div>
    </div>
  </md-toolbar>
  <md-content class="md-padding" style="height: 720px;padding: 24px;">
    <p>I am........</p>
    <p>Agboola Olaide Temiloluwa, a graduate of Computer Science from Covenant University, Ota Ogun state, presently a Software Developer at The Andela Global Talent Accelerator, Sabo, Yaba, Lagos.</p>
    <p>I am a goal driven person, seeking to be the best  I can be in my area of specilazation. I look forward to opportunities that present viable platforms to help me achieve my dream of being the best software developer I can ever be</p>
    <p>In my spare time, I like to play video games, watch movies and sleep, I like to do puzzles too; word, pictures, jigsaws and the likes</p>
  </md-content>
</div>
