<div ng-controller="MyController" layout="column" style="padding-bottom: 15px;">
  <md-toolbar class="md-warn">
    <div class="md-toolbar-tools">
      <div layout="row" flex class="fill-height">
        <span>Agboola Olaide</span>
        <div class="md-toolbar-item md-tools docs-tools" layout="column" layout-gt-md="row">
          <span class="md-button">CONTACT</span>

        </div>
      </div>
    </div>
  </md-toolbar>
  <md-content class="md-padding" style="height: 720px;padding: 24px;">
    <div layout="row">
      <div flex>
        <p>Address:</p>
        <p>Number 314, Herbert Macaulay Road,</p>
        <p>Sabo, Yaba</p>
        <p>Lagos.</p>
        <br>
        <br>
        <p>Social media contact:</p>
        <a href="https://www.facebook.com/olaide.agboola.7"><img src="images/fb.png" width="50px;" height="50px;">
        </a>
        <a href="https://twitter.com/lydexx"><img src="images/twitter.png" width="50px;" height="50px;">
        </a>
        <a href="https://www.linkedin.com/profile/view?id=230692559&trk=nav_responsive_tab_profile"><img src="images/linkedin.png" width="50px;" height="50px;">
        </a>
        <a href="https://github.com/andela-oagboola"><img src="images/git.png" width="50px;" height="50px;">
        </a>
      </div>
      <div  id="mapArea">
        
      </div>
    </div>
  </md-content>
</div>
